<div class="container">
    <div class="row">
        <div class="col-xs-8">
            <h2 class="section-headline"><span>My Account</span></h2>
        </div>
        <div class="col-xs-4">
            <img src="../../../assets/image/logo.png" class="img-responsive right" style="width:400px; z-index: 1;" />
        </div>
        <img class="img-responsive" src="../../../assets/image/wood.png" style="position: absolute;margin-top: 90px;z-index: -2;" />
    </div>
    <div class="row" style="margin-top: 120px;">
        <div class="col-xs-9 col-xs-offset-3">
            <img class="img-responsive" src="../../../assets/image/hours.png" />
        </div>
    </div>
</div>