/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/core/theming/prebuilt/pink-bluegrey.css';
@import './non-responsive.css';
/*@import '../node_modules/@swimlane/ngx-datatable/release/index.css';
@import '../node_modules/@swimlane/ngx-datatable/release/themes/material.css';
@import '../node_modules/@swimlane/ngx-datatable/release/assets/icons.css';*/

.container {
  width: 90%;
}

.section-headline {
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  color: #fff;
  margin: auto;
  text-align: center;
  margin-top: 90px;
}

.section-headline span {
  background-color: #231F20;
  padding: 5px 22px;
}

.box {
  border: 1px solid red;
}

.li {
  display:inline;
  white-space: nowrap;
}

.box {
	border: 1px solid black;
}

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

body {
    font-family: Tahoma, Serif;
    margin:0;
    padding-top: 0;
}

md-input-container {
    width: 100%;
}

md-select {
    width: 100%;
}

md-slide-toggle {
    width:100%;
}

.container {
	width:90%;
	margin:auto;
}

.full-width {
	width: 100%;
}